body {
  background-image: url(../assets/container_bg.png);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
}
body a {
  cursor: pointer;
}
body #root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  background-image: url(../assets/container_bg.png);
  background-color: #616161;
}
body #root .invert {
  color: #fff;
}
body #root .invert * {
  color: #fff;
}
body #root a {
  color: initial;
  text-decoration: none;
}
body #root h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1em;
  font-weight: 800;
  text-shadow: 0.5em 0.25em 0.65em #020840, -0.5em -0.25em 0.65em #3949d5;
  text-transform: capitalize;
  line-height: 1;
}
body #root .btn {
  background: maroon;
  color: #fff;
  border: none;
  font-size: 1.25em;
  padding: 0.4em 0.9em;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}
body #root .randomize {
  background: #30a7d7;
}
body #root .basic-filter {
  background-color: #222;
}
body #root .advanced-search.active {
  min-height: 75vh;
}
body #root .advanced-search {
  transition: all ease-in 0.25s;
  background: #616161;
  min-height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  border: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
body #root .advanced-search .advanced-search-btn {
  padding: 0.45em 1.25em;
  background-color: #616161;
  transform: translate(0, 99.5%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  width: 60%;
  text-align: center;
}
body #root .advanced-search .advanced-search-btn::after, body #root .advanced-search .advanced-search-btn::before {
  transform: rotate(180deg);
  background: transparent url(../assets/large-notch-darkgray.png) no-repeat;
  background-size: 100% 100%;
  content: " ";
  height: 100%;
  right: -30px;
  position: absolute;
  width: 38px;
  top: -3px;
}
body #root .advanced-search .advanced-search-btn::before {
  right: initial;
  left: -30px;
  transform: rotate(180deg) scaleX(-1);
}
body #root .pokeball-container {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.2901960784);
  transition: all ease 0.3s;
}
body #root .pokeball-container .pokeball-inner {
  transition: all ease 0.3s;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, yellow, orange, red, pink, blue);
}
body #root .pokeball-container .pokeball-inner .pokeball-top, body #root .pokeball-container .pokeball-inner .pokeball-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 0.3s;
  justify-content: end;
  background-color: maroon;
  height: 50%;
}
body #root .pokeball-container .pokeball-inner .pokeball-top .pokeball-button, body #root .pokeball-container .pokeball-inner .pokeball-bottom .pokeball-button {
  transition: all ease 0.3s;
  width: 6vw;
  height: 6vw;
  transform: translate(0%, 50%);
  border-radius: 50%;
  background-image: radial-gradient(circle at center, #c8c8c8, #f0f0f0 50%, white 50%, #fefefe 70%);
  border: 1vw solid #111;
  cursor: pointer;
}
body #root .pokeball-container .pokeball-inner .pokeball-top {
  background-image: radial-gradient(circle at -5% 100%, #590808 0% 50%, maroon 80%, rgb(235, 89, 89) 95%, maroon 95% 100%);
  border-bottom: 0.5vw solid #121212;
}
body #root .pokeball-container .pokeball-inner .pokeball-bottom {
  border-top: 0.5vw solid #121212;
  background-image: radial-gradient(circle at 0% 0%, #b8b8b8 0% 50%, rgb(255, 255, 255) 70%);
}
body #root .pokeball-container:hover {
  box-shadow: 1em 1.5em 3em rgba(0, 0, 0, 0.4196078431);
  transform: translate(0, -10px);
}
body #root .pokeball-container:hover .pokeball-top .pokeball-button {
  box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.274);
}
body #root .row .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background: #cecece;
  border-radius: 10px;
  padding: 1em;
}
body #root .row .wrap img {
  width: 150px;
  height: 150px;
}
body #root .poke-number {
  color: #333;
}
body #root .types {
  background-color: #111;
  cursor: default;
  font-size: 0.7em;
  min-width: 80%;
  font-weight: bold;
  border-radius: 5px;
}
body #root .bug {
  background-color: #729f3f;
}
body #root .dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
body #root .fairy {
  background-color: #fdb9e9;
  color: #000;
}
body #root .fire {
  background-color: #fd7d24;
}
body #root .ghost {
  background-color: #7b62a3;
}
body #root .ground {
  color: #000;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
body #root .normal {
  color: #000;
  background: #a4acaf;
}
body #root .psychic {
  background-color: #f366b9;
}
body #root .steel {
  color: #000;
  background-color: #9eb7b8;
}
body #root .dark {
  background-color: #707070;
}
body #root .electric {
  color: #000;
  background-color: #eed535;
}
body #root .fighting {
  background-color: #d56723;
}
body #root .flying {
  color: #000;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
body #root .grass {
  color: #000;
  background-color: #9bcc50;
}
body #root .ice {
  color: #000;
  background-color: #51c4e7;
}
body #root .poison {
  background-color: #b97fc9;
}
body #root .rock {
  background-color: #a38c21;
}
body #root .water {
  background-color: #4592c4;
}
body #root .updown:hover {
  animation: up-down 0.2s 1;
}
body #root .large-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

@keyframes up-down {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}/*# sourceMappingURL=styles.css.map */