@mixin flexM(){
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

body{

background: linear-gradient(45deg,#1e0acc,#b8bcdc);
font-family: Arial, Helvetica, sans-serif;
min-width: 100vw;
overflow: hidden;

#root{

@include flexM();
min-height: 100vh;
overflow: hidden;

.invert{
    color: #fff;
    *{
        color: #fff;
    }
}

a{
    color: initial;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 4vw;
    margin-top: 0px;
    margin-bottom: 1em;
    font-weight: 800;
    text-shadow: .5em .25em .65em #020840, -.5em -.25em .65em #3949d5;
    text-transform: capitalize;
    line-height: 1;
}

img{
    width: 150px;
    height: 150px;
}

.btn{

    background: maroon;
    color: #fff;
    border:none;
    font-size: 1.25em;
    padding: .4em .9em;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;

}

.pokeball-container{

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1em 1em 3em #0000004a ;
    transition: all ease .3s;

    .pokeball-inner{   
        transition: all ease .3s;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, yellow,orange,red, pink,blue);

        .pokeball-top,.pokeball-bottom{

            @include flexM();

            transition: all ease .3s;
            justify-content: end;
            height: 50%;
            background-color:maroon;

            .pokeball-button{
                transition: all ease .3s;
                width: 6vw;
                height: 6vw;
                transform: translate(0%,50%);
                border-radius: 50%;
                background-image: radial-gradient(circle at center, #c8c8c8, #f0f0f0 50%, white 50%, #fefefe 70%);
                border:2vh solid #111;
                cursor: pointer;

            }

        }

        .pokeball-top{
            background-image: radial-gradient(circle at -5% 100%, #590808 0% 50%, maroon 80%, rgb(235, 89, 89) 95%, maroon 95% 100%);
            border-bottom: 2vh solid #121212;
        }

        .pokeball-bottom{
            border-bottom: 2vh solid #121212;
            background-image: radial-gradient(circle at 0% 0%, #b8b8b8 0% 50%, rgb(255, 255, 255) 70%);
        }
    }

    &:hover{
        box-shadow: 1em 1.5em 3em #0000006b ;
        transform: translate(0,-10px); 

        .pokeball-top{

            transform: translate(0,-4px); 

            .pokeball-button{
                box-shadow: 0em .5em 1em rgba(0, 0, 0, 0.439);
            }
        }
    }
}
}
}
