@mixin flexM(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

$grey1:#111;
$grey2:#222;
$grey3:#333;
$grey4:#616161;

body{
    background-image: url(../assets/container_bg.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 ;

    a{
        cursor: pointer;
    }

    #root{

        @include flexM();
        margin: auto;
        min-height: 100vh;
        background-image: url(../assets/container_bg.png);
        background-color: $grey4;

        
        .invert{
            color: #fff;
            *{
                color: #fff;
            }
        }

        a{
            color: initial;
            text-decoration: none;
        }

        h1{
            text-align: center;
            margin-top: 0px;
            margin-bottom: 1em;
            font-weight: 800;
            text-shadow: .5em .25em .65em #020840, -.5em -.25em .65em #3949d5;
            text-transform: capitalize;
            line-height: 1;
        }



        .btn{

            background: maroon;
            color: #fff;
            border:none;
            font-size: 1.25em;
            padding: .4em .9em;
            letter-spacing: 2px;
            border-radius: 10px;
            cursor: pointer;

        }

        .randomize{
            background: #30a7d7;
        }

        .basic-filter{
            background-color: $grey2;
        }

        .advanced-search.active{
            min-height: 75vh;
        
        }

        .advanced-search{
            transition: all ease-in .25s;
            background: $grey4;
            min-height: 0;
            width: 100%;
            @include flexM();
            justify-content: end;
            border:0px;
            position: fixed;
            top:0;
            left:0;
            z-index: 11;

            .advanced-search-btn{
                padding: .45em 1.25em;
                background-color: $grey4;
                transform: translate(0,98%);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color:#fff;
                width: 60%;
                text-align: center;

                &::after,&::before{
                    transform: rotate(180deg);
                    background: transparent url(../assets/large-notch-darkgray.png) no-repeat;
                    background-size: 100% 100%;
                    content: " ";
                    height: 100%;
                    right: -30px;
                    position: absolute;
                    width: 38px;
                    top: -3px;
                }

                &::before{
                    right: initial;
                    left: -30px;
                    transform: rotate(180deg) scaleX(-1);
                }
            }  

        }

        .pokeball-container{

            min-width: 200px;
            min-height: 200px;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 1em 1em 3em #0000004a ;
            transition: all ease .3s;

            .pokeball-inner{   
                transition: all ease .3s;
                height: 100%;
                width: 100%;
                background: linear-gradient(45deg, yellow,orange,red, pink,blue);

                .pokeball-top,.pokeball-bottom{

                    @include flexM();
                    transition: all ease .3s;
                    justify-content: end;
                    background-color:maroon;
                    height: 50%;

                    .pokeball-button{
                        transition: all ease .3s;
                        width: 6vw;
                        height: 6vw;
                        min-width: 50px;
                        min-height: 50px;
                        transform: translate(0%,50%);
                        border-radius: 50%;
                        background-image: radial-gradient(circle at center, #c8c8c8, #f0f0f0 50%, white 50%, #fefefe 70%);
                        border:1vw solid #111;
                        cursor: pointer;
                    }
                }

                .pokeball-top{
                    background-image: radial-gradient(circle at -5% 100%, #590808 0% 50%, maroon 80%, rgb(235, 89, 89) 95%, maroon 95% 100%);
                    border-bottom: .5vw solid #121212;
                }

                .pokeball-bottom{
                    border-top: .5vw solid #121212;
                    background-image: radial-gradient(circle at 0% 0%, #b8b8b8 0% 50%, rgb(255, 255, 255) 70%);
                }
            }

            &:hover{
                box-shadow: 1em 1.5em 3em #0000006b ;
                transform: translate(0,-10px); 

                .pokeball-top{


                    .pokeball-button{
                        box-shadow: 0em .5em 1em rgba(0, 0, 0, 0.274);
                    }
                }
            }
        }

        .row .wrap{
            @include flexM();
            align-items: center;
            background:#F2F2F2;
            border-radius: 10px;
            padding: 1em;

            img{
                width: 150px;
                height: 150px;
            }



        }

        .poke-number{
            color: #333;
        }
        .types{
            background-color: $grey1;
            cursor: default;
            font-size: .7em;
            min-width: 80%;
            font-weight: bold;
            border-radius: 5px  ;
        }

        .bug{
            background-color:#729f3f;
        }
        .dragon{
            background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        }
        .fairy{
            background-color: #fdb9e9;
            color: #000;
        }
        .fire{
            background-color: #fd7d24;
        }
        .ghost{
            background-color: #7b62a3;
        }
        .ground{
            color: #000;
         
            background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }
        .normal{
            color: #000;

            background: #a4acaf;
        }
        .psychic{
            background-color: #f366b9;
        }
        .steel{
            color: #000;
            background-color: #9eb7b8;
        }
        .dark{
            background-color: #707070;

        }
        .electric{
            color: #000;
            background-color: #eed535;
        }
        .fighting{
            background-color: #d56723;
        }
        .flying{
            color: #000;
            background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);   
        }
        .grass{
            color: #000;
            background-color: #9bcc50;
        }
        .ice{
            color: #000;
            background-color: #51c4e7;
        }
        .poison{
            background-color: #b97fc9;
        }
        .rock{
            background-color: #a38c21;
        }
        .water{
            background-color: #4592c4;

        }


        .updown{
            &:hover{
                animation: up-down .2s 1;
            }
        }

        .large-wrapper{
            width: 100%;
            max-width: 80%;
            margin: 0 auto;
            background-color: #fff;

        }
    }
}

@keyframes up-down {
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, -5px);
        
    }
    100%{
        transform: translate(0, 0px);
    }
}